<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616110694936-ekbgkquhlp6bsvf2u5en3o8ef5t0vics.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616110694936-ekbgkquhlp6bsvf2u5en3o8ef5t0vics</string>
	<key>API_KEY</key>
	<string>AIzaSyD1YLP-OW_0oAuIzkhOGHpqZS69aVRDY90</string>
	<key>GCM_SENDER_ID</key>
	<string>616110694936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.degpeg.app</string>
	<key>PROJECT_ID</key>
	<string>degpegassignment-18072</string>
	<key>STORAGE_BUCKET</key>
	<string>degpegassignment-18072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616110694936:ios:cfd28c7280286fa019996d</string>
</dict>
</plist>